.header {
  width: 92.5%;
  margin-top: 1.5rem;
  background-color: transparent;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
}

.logo {
  margin-left: 10rem;
}
